.all-orders{
    margin-top: 1%;
    .listStatus{
        text-align: center;
        .active{
            background-color: #e52d27;
            border: 1px solid #e52d27;
            font-weight: bolder;
        }
    }
}

@media only screen and (min-device-width: 768px) {
    .all-orders{
       padding: 1%;
    }
}

